.frame-footer {
  bottom: 0px;
  border: none; /* Remove '1px none' */
  height: 180px;
  width: 100%; /* Set the width to 100% to fill the entire width of the page */
  background-color: whitesmoke;
}

.frame-footer .overlap-group-footer {
  background-size: 100% 100%;
  height: 162px;
  left: 70px;
  position: relative;
  width: 1370px;
}

.frame-footer .div-footer {
  align-items: flex-start;
  display: inline-flex;
  gap: 60px;
  left: 497px;
  position: absolute;
  top: 76px;
}

.frame-footer .text-wrapper-footer {
  color: var(--grey-dark); /* Fix the variable name */
  font-family: now;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.8px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame-footer .about-us-wrapper-footer {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}


@font-face {
  font-family: Black_Bones;
  src: url(../../../Black_Bones.ttf);
}

.frame-footer .new-horizons-footer {
  color: var(--grey-dark); /* Fix the variable name */
  font-family: Black_Bones;
  font-size: 16px;
  font-weight: 400;
  left: 1078px;
  letter-spacing: 0;
  line-height: 20.8px;
  position: absolute;
  top: 70px;
  white-space: nowrap;
}

.frame-footer .span-footer {
  color: #2d3536;
  font-family: Black_Bones;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20.8px;
}

.frame-footer .text-wrapper-2-footer {
  font-family: now;
  text-align: right; /* Add this line to align the text to the right */
}

#logo-footer {
max-width: 150px;
}

