nav{
  background-color: whitesmoke;
  position: absolute;

  padding: 10px;
  top: 5px; /* Fix the navbar at the top */
  left: 10px;
  right: 10px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  z-index: 300;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 8px;
  /* Other styles for the navbar */
  
}

.logo {
  position: absolute;

    
      width: 80px; /* Adjust the width as needed */
 left: 40px;
 top: 5px;
   
        height: auto; /* This maintains the aspect ratio */
        vertical-align: middle;
        margin-right: 100px; /* Add some spacing between the logo and text */
    }
  

nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 60px;
 
}

nav ul li a{
    color: var(--foundation-grey-dark, #2D3536);
    font-family: Now;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    text-transform: uppercase;
    margin-left: 50px;

}
.main-list {
    position: absolute;
    left: 350px; 
  }

.secondary-list{
    gap: 10px;

}

/* Add your other styles here */

.search-container {
    display: flex;
    align-items: center;
  }
  
  .search-icon {
    top: 32px;
    position: absolute;
    right: 580px;
    width: 20px; /* Adjust icon size as needed */
    height: 20px;
  }
  
  .search-bar {
    position: absolute;

    top: 30px;
    right: 400px;
    color: var(--foundation-grey-light-active, #C3C6C6);
    background-color: whitesmoke;
    border: none;
    outline: none;
    flex: 1; /* Expand to fill available space */
    padding: 5px;
    display: flex;

justify-content: center;
align-items: flex-start;
gap: 10px;
flex-shrink: 0;

  }
  

.profile{
    width: 40px;
    height: 40px;
    

margin-right: 5px;
}

.chevrondown{
    width: 24px;
    height: 24px; 
}

@font-face {
  font-family: now;
  src: url(../../../public/Now-Regular.otf);
}
.login-btn{
  position: absolute;
  right: 200px;
display: flex;
font-family: now;
width: 128px;
height: 44px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 10px;
border: 2px solid var(--foundation-green-normal, #5D9B96);

}
.signup-btn{
  position: absolute;
  right: 50px;
 display: flex;
width: 128px;
height: 44px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 10px;
background: var(--foundation-green-normal, #5D9B96);
}
.divider {
  border-top: 1px solid #0f0e0e; /* Change color and thickness as needed */
  margin: 20px 0; /* Adjust margin as needed */
}
  