/* rideCard.css */
#container {
  position: relative;
  width: 650px;
  height: 470px;
  margin: 50px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 8px 0px #f2e8e0;
}

/* Child element with fixed position */
#offer-ride-title {
  color: var(--foundation-grey-dark, #2d3536);
  font-family: Consolas;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 130%;
  text-transform: uppercase;
  position: absolute;
  left: 50px;
  top: 50px;
}

#step1 {
  color: var(--foundation-green-normal, #5D9B96);
  font-family: Consolas;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 130%;
  text-transform: uppercase;
  position: absolute;
  left: 50px;
  top: 116px;
}

#select-event {
  color: var(--foundation-grey-dark, #2d3536);
  font-family: Consolas;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  line-height: 130%;
  position: absolute;
  left: 50px;
  top: 177px;
}

#searchbar {
  position: absolute;
  left: 50px;
  top: 208px;
  display: flex;
  width: 380px;
  padding: 18px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 15px;
  border: 1px solid var(--foundation-green-normal, #5D9B96);
}

#searchInput {
  outline: none;
  border: none;
  width: 100%;
  padding: 0 10px;
  font-size: 15px;
}

#searchInput::placeholder {
  color: var(--foundation-grey-light, #C3C6C6); /* Fix placeholder color */
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #5D9B96;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin-right: 8px;
}

input[type="radio"]:checked {
  background-color: #5D9B96;
}

#picker {
  color: var(--foundation-grey-dark, #2d3536);
  font-family: Consolas;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  position: absolute;
  left: 50px;
  top: 298px;
}

#nxt-button {
  color: #C3C6C6;
  font-family: Consolas;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  position: absolute;
  left: 50px;
  top: 359px;
  display: flex;
  width: 230px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--foundation-green-normal, #5D9B96);
  background: var(--foundation-green-normal, #5D9B96);
}
