header {
    min-height: 100vh;
    
}

header .wrapper {

    height: 100vh;
    left: 0;
}

header .content-container {
    position: absolute;
    bottom: 50%;
    left: 100px; /* Adjust this value to set the left distance from the edge of the header */
    transform: translateY(50%);
    display: flex; /* Use flexbox to create a horizontal layout */
    align-items: center; /* Align the items vertically centered */
}

header .svg-image-container {
     /* Add some spacing between the SVG image and the CTA */
    margin-left: 300px;
    width: 830px;
height: 521px;
flex-shrink: 0;
}
@font-face {
    font-family:Black_Bones ;
    src: url(../../../public/Black_Bones.ttf);
}
@font-face {
    font-family: now;
    src: url(../../../public/Now-Regular.otf);
}

header .cta p {
    color: var(--foundation-grey-dark, #2D3536);
font-family: Black_Bones;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 64px */
text-transform: uppercase;
    /* Add any additional styling for the CTA container */
}


header .cta h3{
    color: var(--foundation-grey-dark, #2D3536);
font-family: now;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 31.2px */

}

header .cta .explore-btn{
    border-radius: 10px;
    background: var(--foundation-orange-normal, #ED8A37);
    display: flex;
    width: 230px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--foundation-orange-light, #FDF3EB);
    font-family: now;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    margin-top: 100px;
}
header .cta .explore-btn img{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}