.frame-91,
.frame-91 * {
  box-sizing: border-box;
}
.frame-91 {
  background: var(--foundation-orange-light-active, #f9dbc1);
  border-radius: 10px 10px 0px 0px;
  padding: 10px 10px 10px 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 314px;
}
.frame-18 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.users {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._1-seat-available {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 400 16px/130% "Now", sans-serif;
  position: relative;
}
.frame-64 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ph-hand-coins {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._15-eur {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 400 16px/130% "Now", sans-serif;
  position: relative;
}
.frame-50,
.frame-50 * {
  box-sizing: border-box;
}
.frame-50 {
  background: #fffefe;
  border-radius: 0px 10px 10px 10px;
  width: 580px;
  height: 204px;
  position: relative;
  box-shadow: 0px 4px 8px 0px rgba(242, 232, 224, 1);
  overflow: hidden;
}
.frame-59 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 146px;
  top: 38px;
}
.frame-57 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-56 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._22-08-2023-09-00 {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 500 14px/130% "Now", sans-serif;
  position: relative;
  width: 81px;
}
.frame-13 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.map-pin {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.schlo-stra-e-2-01067-dresden-germany {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 400 16px/130% "Now", sans-serif;
  position: relative;
  width: 284px;
}
.line-3 {
  position: absolute;
  left: 249px;
  top: 68px;
  transform: translate(-0.5px, -0.5px);
  overflow: visible;
}
.frame-58 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 146px;
  top: 132px;
}
._22-08-2023-11-10 {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 500 14px/130% "Now", sans-serif;
  position: relative;
  width: 81px;
}
.map-pin2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.klingelh-ferstra-e-23-10785-berlin-germany {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 400 16px/130% "Now", sans-serif;
  position: relative;
  width: 284px;
}
.frame-65 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  left: 36px;
  top: 38px;
}
.frame-60 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-54 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.ellipse-4 {
  border-radius: 50%;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  position: relative;
}
.host {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 500 14px/130% "Now", sans-serif;
  position: relative;
}
.oliver-bern {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: center;
  font: 400 14px/130% "Now", sans-serif;
  position: relative;
  width: 86px;
}
.frame-66,
.frame-66 * {
  box-sizing: border-box;

}
.frame-66 {
  background: var(--foundation-orange-light-active, #f9dbc1);
  border-radius: 10px 10px 0px 0px;
  padding: 10px 10px 10px 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 319px;
  left: 600px;
  top: 0px;
}
.frame-18 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.users {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._2-seats-available {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 400 16px/130% "Now", sans-serif;
  position: relative;
}
.frame-64 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ph-hand-coins {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._9-eur {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 400 16px/130% "Now", sans-serif;
  position: relative;
}
#div12{
  position: absolute;
  left: 730px;
  
}
.frame-50-custom,
.frame-50-custom * {
  box-sizing: border-box;
}
.frame-50-custom {
  background: #fffefe;
  border-radius: 0px 10px 10px 10px;
  width: 580px;
  height: 204px;
  position: relative;
  box-shadow: 0px 4px 8px 0px rgba(242, 232, 224, 1);
  overflow: hidden;
  position: absolute;
  left: 600px;
  top: 45px;
}
.frame-59 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 146px;
  top: 38px;
}
.frame-57 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-56 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._22-08-2023-09-00 {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 500 14px/130% "Now", sans-serif;
  position: relative;
  width: 81px;
}
.frame-13 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.map-pin {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.schlo-stra-e-2-01067-dresden-germany {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 400 16px/130% "Now", sans-serif;
  position: relative;
  width: 284px;
}
.line-3 {
  position: absolute;
  left: 249px;
  top: 68px;
  transform: translate(-0.5px, -0.5px);
  overflow: visible;
}
.frame-58 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 146px;
  top: 132px;
}
._22-08-2023-11-10 {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 500 14px/130% "Now", sans-serif;
  position: relative;
  width: 81px;
}
.map-pin2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.klingelh-ferstra-e-23-10785-berlin-germany {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 400 16px/130% "Now", sans-serif;
  position: relative;
  width: 284px;
}
.frame-65 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  left: 36px;
  top: 38px;
}
.frame-60 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-54 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.ellipse-4 {
  border-radius: 50%;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  position: relative;
}
.host {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 500 14px/130% "Now", sans-serif;
  position: relative;
}
.hanna-seid {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: center;
  font: 400 14px/130% "Now", sans-serif;
  position: relative;
  width: 86px;
}
/* div13*/
.frame-90,
.frame-90 * {
  box-sizing: border-box;
}
.frame-90 {
  background: var(--foundation-orange-light-active, #f9dbc1);
  border-radius: 10px 10px 0px 0px;
  padding: 10px 10px 10px 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center; 
  justify-content: center;
  will-change: 314px;
  position: absolute;
  top: 270px;
}
.frame-18 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.users {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.no-seats-available {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 400 16px/130% "Now", sans-serif;
  position: relative;
}
.frame-64 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ph-hand-coins {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._15-eur {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 400 16px/130% "Now", sans-serif;
  position: relative;
}

/* div 14*/
#div14{
  position: absolute;
  top: 310px;
}
.frame-50,
.frame-50 * {
  box-sizing: border-box;
}
.frame-50 {
  background: #fffefe;
  border-radius: 0px 10px 10px 10px;
  width: 580px;
  height: 204px;
  box-shadow: 0px 4px 8px 0px rgba(242, 232, 224, 1);
  overflow: hidden;
}
.frame-59 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 146px;
  top: 38px;
}
.frame-57 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-56 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._22-08-2023-09-00 {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 500 14px/130% "Now", sans-serif;
  position: relative;
  width: 81px;
}
.frame-13 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.map-pin {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.schlo-stra-e-2-01067-dresden-germany {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 400 16px/130% "Now", sans-serif;
  position: relative;
  width: 284px;
}
.line-3 {
  position: absolute;
  left: 249px;
  top: 68px;
  transform: translate(-0.5px, -0.5px);
  overflow: visible;
}
.frame-58 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 146px;
  top: 132px;
}
._22-08-2023-11-10 {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 500 14px/130% "Now", sans-serif;
  position: relative;
  width: 81px;
}
.map-pin2 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.klingelh-ferstra-e-23-10785-berlin-germany {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 400 16px/130% "Now", sans-serif;
  position: relative;
  width: 284px;
}
.frame-65 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  left: 36px;
  top: 38px;
}
.frame-60 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-54 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.ellipse-4 {
  border-radius: 50%;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  position: relative;
}
.host {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 500 14px/130% "Now", sans-serif;
  position: relative;
}
.karina-green {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: center;
  font: 400 14px/130% "Now", sans-serif;
  position: relative;
  width: 86px;
}
 /*div15*/
 .frame-89,
.frame-89 * {
  box-sizing: border-box;
}
.frame-89 {
  background: var(--foundation-orange-light-active, #f9dbc1);
  border-radius: 10px 10px 0px 0px;
  padding: 10px 10px 10px 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 334px ;
  position: absolute;
  left: 600px;
top: 270px;}
.frame-18 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.users {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._1-seat-available {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 400 16px/130% "Now", sans-serif;
  position: relative;
}
.frame-64 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ph-hand-coins {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._15-eur {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 400 16px/130% "Now", sans-serif;
  position: relative;
}
/* div16*/
#div16{
  position: absolute;
  left: 600px;
  top: 310px ;
}


/* div17*/
.frame-93,
.frame-93 * {
  box-sizing: border-box;
  position: absolute;
}
.frame-93 {
  background: var(--foundation-orange-light-active, #f9dbc1);
  border-radius: 10px 10px 0px 0px;
  padding: 10px 10px 10px 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 314px;
  position: absolute;
  top: 535px;
}
.frame-18 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.users {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._1-seat-available {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 400 16px/130% "Now", sans-serif;
  position: relative;
}
.frame-64 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ph-hand-coins {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._15-eur {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 400 16px/130% "Now", sans-serif;
  position: relative;
}

#div18{
  position: absolute;
  top: 580px;
}

#div19{
  .frame-94,
.frame-94 * {
  box-sizing: border-box;
}
.frame-94 {
  background: var(--foundation-orange-light-active, #f9dbc1);
  border-radius: 10px 10px 0px 0px;
  padding: 10px 10px 10px 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 340px;
  position: absolute;
  top: 535px;
  left: 600px ;
}
.frame-18 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.users {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._1-seat-available {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 400 16px/130% "Now", sans-serif;
  position: relative;
}
.frame-64 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ph-hand-coins {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
._15-eur {
  color: var(--foundation-grey-dark, #2d3536);
  text-align: left;
  font: 400 16px/130% "Now", sans-serif;
  position: relative;
}

}
#div20{
  position: absolute;
  top: 580px;
  left: 600px;
}