#container4 {
  position: relative;
  width: 780px;
  height: 764px;
  margin: 50px auto 0;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 8px 0px #f2e8e0;
  margin-bottom: 50px;
}
#form4 {
  position: absolute;
  left: 50px;
  top: 177px;
  color: var(--foundation-grey-dark, #2D3536);
  font-family: Consolas;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 130%; /* 20.8px */
}
#number-of-available-seats {
  position: absolute;
  top: 208px;
  left: 50px;
  display: flex;
  width: 80px;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  border: 1px solid var(--foundation-green-normal, #5D9B96);
}
#price-for-passangers {
  color: var(--foundation-grey-dark, #2D3536);
  font-family: Consolas;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 130%; /* 20.8px */
  position: absolute;
  top: 308px;
  left: 50px;
}
#container-price-for-passangers {
  position: absolute;
  top: 339px;
  left: 50px;
  display: flex;
  width: 140px; /* Adjust the width as needed */
  padding: 18px 5px 18px 10px; /* Adjust the padding as needed */
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--foundation-green-normal, #5D9B96);
}

#input-price-for-passanger {
  color: #000;
  font-family: Consolas;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  border: none; /* Remove the border */
  outline: none; /* Remove the outline */
  justify-content: flex-end;
  align-items: center;
  
}

#comment-for-passanger-seat {
  position: absolute;
  left: 50px;
  top: 447px;
  color: var(--foundation-grey-dark, #2D3536);
  font-family: Consolas;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 130%;
}
#input-comment-tp-passanger {
  display: flex;
  height: 111px;
  padding: 18px 22px 100px 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 381px;
  top: 478px;
  left: 50px;
  border-radius: 10px;
  border: 1px solid var(--foundation-green-normal, #5D9B96);
}
#backbutton-step4 {
  font: Consolas;
  position: absolute;
  top: 646px;
  left: 50px;
  display: flex;
  width: 230px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--foundation-green-normal, #5D9B96);
}
#nextbutton-step4 {
  font-family: Consolas;
  position: absolute;
  top: 646px;
  left: 350px;
  display: flex;
  width: 230px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--foundation-green-normal, #5D9B96);
  background: var(--foundation-green-normal, #5D9B96);
}